<aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
    <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="https://www.gov.uk/find-coronavirus-support">Find out what support you can get if you're affected by coronavirus</a>
            </li>
            <li>
                <a href="https://www.gov.uk/government/publications/covid-19-stay-at-home-guidance">COVID-19: guidance for households with possible coronavirus infection</a>
            </li>
        </ul>
    </nav>
</aside>