@import "https://www.gov.uk/assets/static/core-layout-149d9ef2aa91bca683dc86b01cfed92cf9ceeee030831296358ed58bb645ae05.css";
@import "https://www.gov.uk/assets/collections/application-ba95a756e79638565d9d13a39744619bd39e9ed3dd59d59dbff84adc18982886.css";

.covid__page-header--landing-page {
    h2 {
        color: white;
    }
}

.covid__instruction-text p {
    color: white;
}

.covid__find-help {
    h2, p {
        color: white;
    }
}

.coronavirus-govuk-header {
    border-bottom: 0;
    .govuk-header__container {
        border-bottom-color: transparent;
    }
}