{% extends "layout.html" %}

{% block pageTitle %}
  Postcode checker results: Tier 3
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/prototype-phase-banner.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/local-restrictions"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% include "../../includes/local-results-headlines/tier3.html" %}

        <p>We've matched the search <strong>"BL9 0SW"</strong> to <strong>Bury Metropolitan Council</strong>.</p>
        
        {% include "../../includes/restriction-button/tier3_local.html" %}

        {% include "../../includes/christmas-local.html" %}
        
        {% include "../../includes/travel-between-areas.html" %}
        
        {% include "../../includes/notification-component.html" %}
    </div>
  </div>
{% endblock %}