{% extends "layout.html" %}

{% block pageTitle %}
  Postcode checker travelling
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/prototype-phase-banner.html" %}

  {% include "includes/landing-page-breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Find out the coronavirus restrictions in a local area</h1>

      {{ govukInsetText({
        html: 'There are different restrictions in <a class="govuk-link" href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a class="govuk-link" href="https://gov.wales/local-lockdown">Wales</a> and <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-and-localised-restrictions">Northern Ireland</a>.'
      }) }}

      <p>There are 3 levels of restrictions, called Tiers. There are different rules to follow based on what Tier an area is in.</p>

      <p><a href="/travel-restrictions">There are different rules if you’re travelling to somewhere else in England, for example if you’re visiting someone</a></p>

      <p>Enter your postcode to find out what the rules are where you’re living or spend most of your time.</p>
    
      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>
        {{ govukInput({
          id: "search",
          name: "search",
          label: {
            text: "Enter a full postcode",
            classes: "govuk-label--s"
          },
          hint: {
            html: "We use this to give you more accurate informtion about the area.<br><br>For example, LS1 1UR"
          }
        }) }}

        {% include "includes/find-button.html" %}

        {% include "includes/royal-mail-link.html" %}
      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include "includes/related-content.html" %}
    </div>
  </div>
{% endblock %}
