{% extends "layout.html" %}

{% block pageTitle %}
  Postcode checker travelling
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}  
  {% include "includes/prototype-phase-banner.html" %}

  {% include "includes/landing-page-breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Coronavirus - travel from one area to another</h1>

      {{ govukInsetText({
        html: 'There are different restrictions in <a class="govuk-link" href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a class="govuk-link" href="https://gov.wales/local-lockdown">Wales</a> and <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-and-localised-restrictions">Northern Ireland</a>.'
      }) }}

      <p>Use this to find out the rules you need to follow when you’re visiting somewhere else in England, for example if you're visiting a friend or relative or going shopping in another town. <a class="govuk-link" href="https://www.gov.uk/government/publications/higher-education-reopening-buildings-and-campuses/student-movement-and-plans-for-the-end-of-autumn-2020-term">If you’re a student returning home from university there are different rules.</a></p>

      <p><a class="govuk-link" href="/local-restrictions">There’s a different service to find out what rules to follow where you’re living</a></p>

      <p>When you’re in another place, and on the way there, the rules you need to follow depend on:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the Local COVID Alert Level where you’re living or spend most of your time</li>
        <li>the level of the place you’re going to.</li>
      </ul>

      <p>When you’re returning from somewhere you’ve been, then you need to <a class="govuk-link" href="/local-restrictions">follow the rules for where you’re living</a>.</p>

      <p>You might not be allowed to visit some areas unless you’re making an essential journey.</p>

      <form class="location-form" action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>
        <h2 class="govuk-heading-l">Where you’re living</h2>
        <p>This is the place where you spend most of your time.</p>
        {{ govukInput({
          id: "origin",
          name: "origin",
          label: {
            text: "Enter a full postcode",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For example, LS1 1UR"
          }
        }) }}

        <h2 class="govuk-heading-l">Where you’re going to</h2>
        {{ govukInput({
          id: "destination",
          name: "destination",
          label: {
            text: "Enter a full postcode",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For example, LS1 1UR"
          }
        }) }}

        {% include "includes/find-button.html" %}

        {% include "includes/royal-mail-link.html" %}
      </form>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include "includes/related-content.html" %}
    </div>
  </div>
{% endblock %}
