{% extends "layout.html" %}

{% block pageTitle %}
  Local restrictions results
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/prototype-phase-banner.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/local-restrictions"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/devolved-nations/wales.html" %}

    </div>
  </div>
{% endblock %}
